.background{
    /* background-image: url('https://cdn.pixabay.com/photo/2022/03/27/21/59/dog-7096207_960_720.jpg'); */
    background-size: cover;
    height: 100vh;
  
    
}

.container {
    /* background-color: red; */
    margin-top: 2.5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}