.background{
    display: inline-block;
    background-image: url('https://cdn.pixabay.com/photo/2022/03/27/21/59/dog-7096207_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 200%; */
    /* width: 100%; */
}