

.background{
    /* background-color: aquamarine; */
}


.container {
    /* background-color: red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container>a:link {
    text-decoration: none;
    color: #000000;
}

.container>a:visited {
    text-decoration: none;
    color: #000000;
}

.container>a:hover {
    color: #2419a3;
    text-decoration: none;
}