.card{
background-color: rebeccapurple;
width: 800px;
height: 300px;
display: flex;
justify-content: space-between;
}

.cardImg{
    margin-left: 1%;
    align-self: center;
    width: 200px;
}

.cardInfo{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 550px;
}