
.back_image{
    width: 100%;
    /* background-image: url('https://images3.alphacoders.com/216/thumb-1920-216167.jpg');     */
    background-image: url('https://www.xtrafondos.com/wallpapers/resized/gato-sorprendido-9039.jpg?s=large');    
    background-position: center center;
    background-size: cover;
    height: 97vh;
    width: 100vw;
}




.back_ground{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    background-color: rgb(117, 117, 128);
}

.style{
    color:red
}