
.back_image{
    width: 100%;
    background-image: url('https://images3.alphacoders.com/216/thumb-1920-216167.jpg');    
    /* background-image: url('https://cdn.pixabay.com/photo/2022/03/27/21/59/dog-7096207_960_720.jpg');     */
    background-position: center center;
    background-size: cover;
    height: 97vh;
    width: 100vw;
}

.letters{
    color: #bc2e1e;
    text-shadow: 0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4,
    3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4,
    4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd,
    5px 6px 2px #378ab4,
    6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4,
    7px 6px 1px #5dabcd,
    7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;
    color: #bc2e1e;
}


.back_ground{
    
    position: absolute;
    top: 86%;
    left: 25%;
    font-size: 50px;
    color: #FFFFFF;
    background: #333333;
    text-shadow: 0 -1px 4px #FFF,
    0 -2px 10px #ff0,
    0 -10px 20px #ff8000,
    0 -18px 40px #F00;
    -webkit-box-shadow: 23px 17px 42px -6px rgba(209, 0, 0, 0.57);
    box-shadow: 23px 17px 42px -6px rgba(209, 0, 0, 0.57);
    background: #ecd106d2;
}

.back_ground:hover{
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
}

.style{
    /* font-size: 15px; */
}